In [1]:
import pandas as pd
import xgboost as xg 
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_csv('new_cs-training.csv')

data

,org_id,user_id,loan id,gender,photo url,marital status,no_of_dependent,type of residence,educational_attainment,employment_status,...,last_account,emails,phone_numbers,logins,device_name,mobile_os,os_version,bank,created_on,status_id
0,7,96,51,Male,https://example.com/photo.jpg,Single,1,Rented,MSc,Employed,...,2022-09-18,15,10,84,Samsung Galaxy S10,android,android 30,214,2022-01-30,78
1,79,53,25,Male,https://example.com/photo.jpg,Married,1,Rented,PhD,Employed,...,2022-06-25,7,8,72,iPhone 12,iOS,iOS 10,234,2020-07-09,52
2,49,8,73,Male,https://example.com/photo.jpg,Married,3,Rented,PhD,Unemployed,...,2020-02-22,45,46,98,iPhone 12,android,iOS 8,121,2023-01-20,41
3,44,30,40,Male,https://example.com/photo.jpg,Single,2,Rented,MSc,Unemployed,...,2022-01-23,40,1,64,iPhone 12,iOS,android 21,221,2020-04-17,10
4,35,90,36,Male,https://example.com/photo.jpg,Married,1,Own House,BSc,Employed,...,2022-11-08,51,81,53,Samsung Galaxy S10,android,android 31,113,2021-04-28,100
5,85,100,78,Male,https://example.com/photo.jpg,Married,2,Own House,MSc,Unemployed,...,2021-07-05,90,94,97,itelA662L,iOS,iOS 06,124,2021-02-26,96
6,26,76,40,Male,https://example.com/photo.jpg,Married,4,Rented,PhD,Unemployed,...,2021-04-05,84,84,54,itelA662L,iOS,iOS 04,176,2022-01-02,73
7,17,75,68,Male,https://example.com/photo.jpg,Married,2,Own House,MSc,Employed,...,2022-01-17,70,33,16,itelA662L,android,android 22,219,2021-03-09,94
8,59,81,79,Female,https://example.com/photo.jpg,Married,3,Own House,PhD,Unemployed,...,2022-05-02,38,58,88,iPhone 12,android,android 32,211,2023-09-07,48
9,19,84,61,Female,https://example.com/photo.jpg,Single,3,Rented,BSc,Self-Employed,...,2022-02-26,93,21,89,itelA662L,iOS,iOS 02,139,2021-01-18,48
10,35,88,71,Male,https://example.com/photo.jpg,Single,3,Rented,MSc,Employed,...,2022-09-18,94,65,64,Samsung Galaxy S11,android,android 31,162,2022-01-30,69
11,34,92,74,Male,https://example.com/photo.jpg,Married,4,Rented,PhD,Employed,...,2022-06-25,101,69,62,iPhone 12,iOS,iOS 06,159,2020-07-09,70
12,33,95,77,Male,https://example.com/photo.jpg,Married,4,Rented,PhD,Unemployed,...,2020-02-22,109,73,61,iPhone 12,android,iOS 04,156,2023-01-20,71
13,32,99,80,Male,https://example.com/photo.jpg,Single,4,Rented,MSc,Unemployed,...,2022-01-23,116,77,59,iPhone 12,iOS,android 41,153,2020-04-17,72
14,31,102,83,Male,https://example.com/photo.jpg,Married,4,Own House,BSc,Employed,...,2022-11-08,123,81,58,Samsung Galaxy S11,android,android 51,150,2021-04-28,73
15,30,106,86,Male,https://example.com/photo.jpg,Married,4,Own House,MSc,Unemployed,...,2021-07-05,131,85,56,itelA662L,iOS,iOS 02,147,2021-02-26,74
16,28,109,89,Male,https://example.com/photo.jpg,Married,5,Rented,PhD,Unemployed,...,2021-04-05,138,89,55,itelA662L,iOS,iOS 00,144,2022-01-02,75
17,27,113,92,Male,https://example.com/photo.jpg,Married,5,Own House,MSc,Employed,...,2022-01-17,145,93,53,itelA662L,android,android 42,142,2021-03-09,76
18,26,116,95,Female,https://example.com/photo.jpg,Married,5,Own House,PhD,Unemployed,...,2022-05-02,153,96,52,iPhone 13,android,android 52,139,2023-09-07,76
19,25,119,98,Female,https://example.com/photo.jpg,Single,5,Rented,BSc,Self-Employed,...,2022-02-26,160,100,50,itelA662L,iOS,iOS 03,136,2021-01-18,77
20,24,123,101,Male,https://example.com/photo.jpg,Single,5,Rented,MSc,Employed,...,2022-09-18,167,104,49,Samsung Galaxy S12,android,android 32,133,2022-01-30,78
21,22,126,104,Male,https://example.com/photo.jpg,Married,6,Rented,PhD,Employed,...,2022-06-25,175,108,48,iPhone 12,iOS,iOS 02,130,2020-07-09,79
22,21,130,107,Male,https://example.com/photo.jpg,Single,6,Rented,MSc,Employed,...,2022-09-18,182,112,46,Samsung Galaxy S11,android,android 31,127,2022-01-30,80
23,20,133,109,Male,https://example.com/photo.jpg,Married,6,Rented,PhD,Employed,...,2022-06-25,190,116,45,iPhone 12,iOS,iOS 06,125,2020-07-09,81
24,19,137,112,Male,https://example.com/photo.jpg,Married,6,Rented,PhD,Unemployed,...,2020-02-22,197,120,43,iPhone 12,android,iOS 04,122,2023-01-20,82
25,18,140,115,Male,https://example.com/photo.jpg,Single,6,Rented,MSc,Unemployed,...,2022-01-23,204,124,42,iPhone 12,iOS,android 41,119,2020-04-17,83
26,16,144,118,Male,https://example.com/photo.jpg,Married,7,Own House,BSc,Employed,...,2022-11-08,212,128,40,Samsung Galaxy S11,android,android 51,116,2021-04-28,84
27,15,147,121,Male,https://example.com/photo.jpg,Married,7,Own House,MSc,Unemployed,...,2021-07-05,219,132,39,itelA662L,iOS,iOS 02,113,2021-02-26,85
28,14,151,124,Male,https://example.com/photo.jpg,Married,7,Rented,PhD,Unemployed,...,2021-04-05,226,136,37,itelA662L,iOS,iOS 00,110,2022-01-02,86
29,13,154,127,Male,https://example.com/photo.jpg,Married,7,Own House,MSc,Employed,...,2022-01-17,234,140,36,itelA662L,android,android 42,107,2021-03-09,87
30,12,158,130,Female,https://example.com/photo.jpg,Married,7,Own House,PhD,Unemployed,...,2022-05-02,241,143,35,iPhone 13,android,android 52,105,2023-09-07,87
31,11,161,133,Female,https://example.com/photo.jpg,Single,8,Rented,BSc,Self-Employed,...,2022-02-26,248,147,33,itelA662L,iOS,iOS 03,102,2021-01-18,88

In [9]:
info = data.info()
summary = data.columns

print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   org_id                    32 non-null     int64
 1   user_id                   32 non-null     int64
 2   loan id                   32 non-null     int64
 3   gender                    32 non-null     object
 4   photo url                 32 non-null     object
 5   marital status            32 non-null     object
 6   no_of_dependent           32 non-null     int64
 7   type of residence         32 non-null     object
 8   educational_attainment    32 non-null     object
 9   employment_status         32 non-null     object
 10  sector_of_employment      32 non-null     object
 11  current_employer          32 non-null     object
 12  monthly net income        32 non-null     object
 13  work_start_date           32 non-null     object
 14  work_email                32 non-null     object
 15  work_email_validated      32 non-null     bool
 16  country                   32 non-null     object
 17  city                      32 non-null     object
 18  LGA                       32 non-null     object
 19  requested_amount          32 non-null     int64
 20  purpose                   32 non-null     object
 21  proposed_payday           32 non-null     object
 22  loan_request_hour         32 non-null     int64
 23  loan_request_day          32 non-null     object
 24  age                       32 non-null     int64
 25  selfie_bvn_check          32 non-null     object
 26  selfie_id_check           32 non-null     object
 27  phone_network             32 non-null     int64
 28  loan_requests             32 non-null     int64
 29  failed_loan_requests      32 non-null     int64
 30  successful_loan_requests  32 non-null     int64
 31  loans                     32 non-null     int64
 32  lending_lenders           32 non-null     int64
 33  lenders                   32 non-null     int64
 34  first_account             32 non-null     object
 35  last_account              32 non-null     object
 36  emails                    32 non-null     int64
 37  phone_numbers             32 non-null     int64
 38  logins                    32 non-null     int64
 39  device_name               32 non-null     object
 40  mobile_os                 32 non-null     object
 41  os_version                32 non-null     object
 42  bank                      32 non-null     int64
 43  created_on                32 non-null     object
 44  status_id                 32 non-null     int64
dtypes: bool(1), int64(19), object(25)
memory usage: 11.2+ KB
None

In [8]:
print(summary)

Index(['org_id', 'user_id', 'loan id', 'gender', 'photo url', 'marital status',
       'no_of_dependent', 'type of residence', 'educational_attainment',
       'employment_status', 'sector_of_employment', 'current_employer',
       'monthly net income', 'work_start_date', 'work_email',
       'work_email_validated', 'country', 'city', 'LGA', 'requested_amount',
       'purpose', 'proposed_payday', 'loan_request_hour', 'loan_request_day',
       'age', 'selfie_bvn_check', 'selfie_id_check', 'phone_network',
       'loan_requests', 'failed_loan_requests', 'successful_loan_requests',
       'loans', 'lending_lenders', 'lenders', 'first_account', 'last_account',
       'emails', 'phone_numbers', 'logins', 'device_name', 'mobile_os',
       'os_version', 'bank', 'created_on', 'status_id'],
      dtype='object')

In [ ]:
columns_to_drop = ['org_id', 'user_id', 'loan id', 'photo url', 'work_email', '']
date_columns = ['last login date', 'first login date', 'registration date']

categorical_columns = ['gender', 'country', 'city', 'language', 'selfie_bvn_check', 'selfie_id_check', 'type of residence', 'marital status', 'educational_attainment', 'employment_status','sector_of_employment', 'current_employer', ]